In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
file=pd.read_csv(r"C:\Users\Hp\Downloads\Data_Train.csv")
file

In [ ]:
# file.describe

In [ ]:
file.info()

In [ ]:
file.nunique()

In [ ]:
file["Airline"].unique()

In [ ]:
file["Source"].unique()

In [ ]:
file["Destination"].unique()

In [ ]:
file["Total_Stops"].unique()

In [ ]:
file["Additional_Info"].unique()

In [ ]:
file.isnull().sum()

In [ ]:
file=file.dropna()

In [ ]:
file.isnull().sum()

In [ ]:
file.duplicated().sum()
# file.drop_duplicates(inplace=True)

In [ ]:
file.duplicated().sum()

In [ ]:
plt.figure(dpi=100)
sns.countplot(x='Source', data = file)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Destination", data=file)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Destination", hue="Total_Stops",data=file)
# this show much flights going new dehli or banglore or cochin or colkata or dehli or hyderabad and with how much stops they reach destination

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Destination",hue="Additional_Info", data=file)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline",data=file)
# plt.legend(title='Company', fontsize=20)

# plt.title('Sales Data', fontsize=20)
plt.tick_params(axis='both', labelsize=10)
p=plt.xticks(rotation=70)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Date_of_Journey", data=file)
plt.tick_params(axis='both', labelsize=8)
p=plt.xticks(rotation=90)

In [ ]:
plot=file[(file.Destination=="Banglore") & (file.Total_Stops=="non-stop")]

In [ ]:
plot={}
for i in file.Destination.unique():
    plot[i]=file[(file.Destination==i)]

In [ ]:
plot_banglore=plot["Banglore"]
plot_New_Delhi=plot["New Delhi"]
plot_Delhi=plot["Delhi"]
plot_Cochin=plot["Cochin"]
plot_Kolkata=plot["Kolkata"]
plot_Hyderabad=plot["Hyderabad"]

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline", data=plot_New_Delhi)
plt.tick_params(labelsize=10)
plt.legend("Number of air Lines Going to New Dehli")
p=plt.xticks(rotation=70)
plt.xlabel("Name of Airlines Going to New Dehli ")

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline", data=plot_banglore)
plt.tick_params(axis="both", labelsize=10)
p=plt.xticks(rotation=40)
plt.xlabel("Number of Airlines going to banglore")
# plot_banglore

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline", data=plot_Delhi)
plt.xlabel("Airlines going to Dehli")
plt.xticks(rotation=70)
plt.tick_params(axis="both", labelsize=10)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline",data=plot_Cochin)
plt.xlabel(" Airlines going to cochin")
plt.tick_params(axis="both",labelsize=10)
p=plt.xticks(rotation=70)

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline", data=plot_Kolkata)
plt.tick_params(labelsize=10)
p=plt.xticks(rotation=70)
plt.xlabel("Airlines going to kolkata")

In [ ]:
plt.figure(dpi=100)
sns.countplot(x="Airline",data=plot_Hyderabad)

In [ ]:
# print("Percentage of Airlines Going to Kolkata")
dta={}
for i in file.Destination.unique():
    dta[i]=file[(file.Destination==i)].count()[0]
dta["Cochin"]
file.count()[0]

In [ ]:
print("% for Airlines going to Banglore",dta["Banglore"]/file.count()[0]*100)
print("% for Airlines going to New Delhi",dta["New Delhi"]/file.count()[0]*100)
print("% for Airlines going to Cochin",dta["Cochin"]/file.count()[0]*100)
print("% for Airlines going to Kolkata",dta["Kolkata"]/file.count()[0]*100)
print("% for Airlines going to Delhi",dta["Delhi"]/file.count()[0]*100)
print("% for Airlines going to Delhi",dta["Hyderabad"]/file.count()[0]*100)

In [ ]:
dta={}
for i in file.Total_Stops.unique():
    dta[i]=file[(file.Total_Stops==i)].count()[0]

In [ ]:
print("% of Airlines  Non-Stop:: ", dta["non-stop"]/file.count()[0]*100)
print("% of Airlines  1 stop:: ", dta["1 stop"]/file.count()[0]*100)
print("% of Airlines  2 stops:: ", dta["2 stops"]/file.count()[0]*100)
print("% of Airlines  3 stops:: ", dta["3 stops"]/file.count()[0]*100)
print("% of Airlines  4 stops:: ", dta["4 stops"]/file.count()[0]*100)

In [ ]:
# its average Fare vs AirLine
plt.figure(dpi=100)
sns.barplot(x="Airline", y="Price", data=file)
plt.tick_params(labelsize=10)
p=plt.xticks(rotation=90)
# barplot is used to show relation between category and value categories should be few 1 to 10 and values may very
# x will take categories and y will take values ... X will be kept same as it is given y will be average of it
# it will sum all values of catorgy and divide it with no of rows with same catogory

In [ ]:
for i in file.Airline.unique():
    print("Average price per flight of "+i+" ::::::::",sum(file[(file.Airline==i)]["Price"])/file[(file.Airline==i)].count()[0])

In [ ]:
plt.figure(dpi=100)
sns.lineplot(x="Airline", y="Price" ,data=file)
p=plt.xticks(rotation=90)
# line plot is same as barplot instead their is line used instead of bars

In [ ]:
plt.figure(dpi=100)
plt.scatter(file["Airline"],file["Price"])
p=plt.xticks(rotation=90)
# this show an individual row value of Price against Airline

In [ ]:
file[(file.Airline=="Jet Airways Business")]

In [ ]:
# box plots are used to show how many values are showing much variance from other values like age of man 100 if thier is person with 400 then its called outlier
# its used to find outliers in the data
plt.figure(dpi=100)
sns.boxplot(y="Price",data=file)

In [ ]:
plt.figure(dpi=100)
sns.violinplot(y="Price", data=file)

In [ ]:
file.nunique()

In [ ]:
file.isnull().sum()

In [ ]:
def date_convert(obj):
    val=""
    for i in obj:
        if i.isdigit():
           val=val+i 
#         print("\n")
#     print(val)
    val=int(val)
    return val

In [ ]:
file["Duration"]=file["Duration"].apply(date_convert)

In [ ]:
file["Dep_Time"]=file["Dep_Time"].apply(date_convert)

In [ ]:
file["Date_of_Journey"]=file["Date_of_Journey"].apply(date_convert)

In [ ]:
file

#

In [ ]:
hot=pd.get_dummies(file,columns=["Airline","Source","Destination","Total_Stops"])
file2=hot.iloc[:,5:]
file2["Duration"]=file["Duration"]
file2["Dep_Time"]=file["Dep_Time"]
file2["Date_of_Journey"]=file["Date_of_Journey"]

# file2["Duration"]=file["Duration"]

In [ ]:
X=file2.iloc[:,1:]
X

In [ ]:
Y=file2.iloc[:,1:2]
Y

In [ ]:
y_test

In [ ]:
# split
# apply linearregression model
# get params
# coef
# intercept
# score
# predict

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
y_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

In [ ]:
model.get_params()

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
df=pd.DataFrame(model.predict(x_test))
df.head(-5)

In [ ]:
y_test.head(-5)

In [ ]:
model.score(x_train,y_train)*100

In [ ]:
model.score(x_test,y_test)*100